:root {
    --bg-color-primary: #1D2128;
    --bg-color-secondary: #2D333B;
    --separator-color: rgba(229, 229, 229, 0.2);
    --border-color: #999999;
    --text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;    
    list-style: none;
}

body {
    background-color: var(--bg-color-primary);
}

.separator {
    background-color: var(--separator-color);
    border: 1px solid var(--separator-color);
}