

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-top: 10px;
}

.flex-gap {
    display: flex;
    gap: 2rem;
}

.search {
    display: flex;    
}

.search-input input {
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
    padding: 1rem;
    border-radius: 1.5rem 0 0 1.5rem;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 0 1.5rem 1.5rem 0;
    
}

