@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neuemachina-regular.otf');
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000;
    color: #fff;
}

.main__container {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}