.header__content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
}

.header__content::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url('../img/icons/header.svg');    
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}

.header__profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header__title {
    font-family: 'Neue Machina';
    font-size: 2em;
    margin: 0.67em 0;
}

.header__infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
    padding: .5rem;
}

.header__info::before {
    content: '';
    display: inline-block;    
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.header__info--job::before {
    background-image: url('../img/icons/job.svg');
}

.header__info--location::before {
    background-image: url('../img/icons/location.svg');
}

.header__info--phone::before {
    background-image: url('../img/icons/phone.svg');
}

.header__info--email::before {
    background-image: url('../img/icons/email.svg');
}

@media screen and (min-width: 768px) {

    .header__content {
        display: grid;
        grid-template-areas: 
        "profile title"
        "profile infos"
        ;
    }

    .header__profile {
        grid-area: profile;
        margin: 0 auto;
    }

    .header__title {
        grid-area: title;
        max-width: 210px;
        text-align: start;        
    }

    .header__infos {
        grid-area: infos;
    }

    
}