/*
        .flex {
            display: flex;            
            max-width: 300px;
            padding: 10px;
            border: 2px solid black;
        }

        .item {
            background-color: aqua;
            margin: 5px;
        }
        */
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #E5E5E5;
            
        }

        main {
            
            display: flex;            
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .container {
            max-width: 400px;
            width: 350px;
            float: left;
            margin: 10px 20px;            
            border-radius: 10px;
            padding: 10px;            
            height: 600px;
            background-color: white;
        }

        h1 {
            margin: 20px;
            text-align: center;
        }

        p {
            margin-top: 5px;
        }

        .blue {
            background-color: blue;            
         }
         .green {
            background-color: lightgreen;            
         }
         .orange {
            background-color: orange;            
         }

         .justificado {
            text-align: justify;
            max-width: 250px;
            padding: 5px;
         }

        /* CSS Flex Direction */
        .flex-container {
            
            display: flex;
            list-style: none;
            display: flex;
        }

        .flex-item {
            background: blue;
            height: 50px;
            width: 50px;
            font-size: 20px;
            color: white;
            text-align: center;
            line-height: 50px;
            margin: 5px;
        }

        .row-reverse {
            flex-direction: row-reverse;
         }

         .row-reverse li {
            background-color: red;
         }

         .column {
            flex-direction: column;
            float: left;
         }

         .column li {
            background: orange;
         }

         .column-reverse {
            flex-direction: column-reverse;
            float: right;
         }

         .column-reverse li {
            background: green;
         }



         /* CSS Flex Wrap */

         .flex-wrap-container {
            display: flex;
            margin: 0 auto;
    
            height: 50px;
            border: 2px solid black;
            max-width: 120px;
         }

         .item {
            font-size: 10px;
            min-width: 40px;
            height: 50%;
            text-align: center;
            line-height: 13px;
         }

         .nowrap {
            flex-wrap: nowrap;
         }

         .wrap {
            flex-wrap: wrap;
         }

         .wrap-reverse {
            flex-wrap: wrap-reverse;
         }



          /*###############*/
         /* CSS Flex Flow */
        /*###############*/

         .flex-flow-container {
            display: flex;
            border: 1px solid black;
            max-width: 300px;
            margin-bottom: 10px;
         }

         .flex-flow-default {
            flex-flow: row nowrap;
         }

         .flex-flow-wrap {
            flex-flow: row wrap;
         }
         .flex-flow-column {
            flex-flow: column wrap;
         }

         .flex-flow-item {
            background-color: violet;
            margin: 5px;
            color: white;
            text-align: center;
            width: 75px;
            height: 35px;
            line-height: 35px;
         }

         /*###############*/
         /* Justify Content */
        /*###############*/

        .container-justify {
            max-width: 400px;
            border: 1px solid black;
            margin-bottom: 5px;
            display: flex;
        }

        .item-justify {
            background-color: blueviolet;
            margin: 5px;
            text-align: center;
            color: white;
        }

        .flex-start {
            justify-content: flex-start;
        }
        .flex-end {
            justify-content: flex-end;
        }
        .flex-center {
            justify-content: center;
        }
        .flex-spacebetween {
            justify-content: space-between;
        }
        .flex-spacearound {
            justify-content: space-around;
        }


         /*###############*/
         /*Align Items */
        /*###############*/

        .container-align-items {
            max-width: 350px;
            border: 1px solid black;
            display: flex;
            margin-bottom: 5px;
        }

        .item-align-items {
            background-color: blueviolet;
            margin: 5px;
            color: white;
            text-align: center;
            flex: 1; 
        }

        .align-items-center {
            align-items: center;
        }

        .align-items-stretch {
            align-items: stretch;
        }
        .align-items-flex-start {
            align-items: flex-start;
        }
        .align-items-flex-end {
            align-items: flex-end;
        }


         /*###############*/
         /*Align Content */
        /*###############*/

        .container-align-content {
            height: 100px;
            max-width: 150px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid black;
        }

        .item-align-content {
            background-color: orangered;
            padding: 0 1px;
            margin: 1px;
            flex: 1;
            text-align: center;
            color: white;
            font-size: 8px;
        }

        .align-content-center {
            align-content: center;
        }

        .align-content-flex-start {
            align-content: flex-start;
        }

        .align-content-flex-end {
            align-content: flex-end;
        }


         /*###############*/
         /*Flex Grow*/
        /*###############*/

        .container-flex-grow {
            display: flex;
            border: 1px solid black;
            max-width: 300px;
        }

        .item-flex-grow {
            background-color: orangered;
            margin: 5px;
            padding: 10px;
            color: white;
            text-align: center;
        }

        .fg-0 {
            flex-grow: 0;
        }

        .fg-1 {
            flex-grow: 1;
        }
        .fg-2 {
            flex-grow: 2;
        }
        .fg-3 {
            flex-grow: 3;
        }

         /*###############*/
         /*Flex Basis*/
        /*###############*/

        .container-flex-basis {
            display: flex;
            border: 1px solid black;
            max-width: 350px;
        }

        .item-flex-basis {
            background-color: coral;
            margin: 5px;
            padding: 10px;
            color: white;
            text-align: center;
        }

        
        .bauto {
            flex-basis: auto;
        }

        .b-0 {
            flex-basis: 0;
        }

         /*###############*/
         /*Flex Shrink*/
        /*###############*/

        .container-flex-shrink {
            display: flex;
            border: 1px solid black;
            max-width: 350px;
        }

        .item-flex-shrink {
            background-color: orange;
            margin: 5px;
            font-size: 24px;
            color: white;
            text-align: center;
        }

        .s-1 {
            flex-shrink: 1;
        }
