@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --text-color: #fff;
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --divider-bg-color: linear-gradient( 90deg, #5516ba, rgba(255, 0, 229, 0.5) 80% );
    --btn-bg-color-gradient: linear-gradient( 45deg, #9b34ef 0%, #490cb0 20%, transparent 50% );
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --link-color: #9e86ff;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: "Raleway", sans-serif;
    color: var(--text-color);
}

p {
    font-family: "Quicksand", sans-serif;
}

.text-small {
    font-size: 1rem;
    font-weight: 300;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--nav-bg-color);
    width: 100%;
    padding: 12px 16px;
    z-index: 1;
}

.menu-logo {
    max-width: 160px;
}

.menu-logo img {
    width: 100%;
}

.menu-item {
    margin-right: 24px;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu-item-button {
    background-color: var(--tertiary-color);
    padding: 8px 26px;
    border-radius: 500px;
    transition: background 1s, color 1s;
}

.menu-item-button:hover {
    background: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

@media screen and (max-width: 480px) {
    .menu {
        flex-direction: column;
        padding: 32px 24px;
        gap: 24px;
    }

    .menu-logo {
        max-width: 100px;
    }

    .menu-item-button {
        margin: 0;
    }
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }