@import url('./global.css');

.header {
    position: relative;
    margin-top: 50px;
    padding: 100px 0 250px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: bg-animation 10s ease infinite alternate;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
}

.header .channels-icon {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header .channels-icon img {
    object-fit: contain;
}

.header-title {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.header-title .title-light {
    display: block;
    font-size: 2rem;
    font-weight: lighter;
}

.header-divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

.header-offer {
    text-align: center;
    font-size: 1.25rem;
}

.header-offer .offer-price{
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.header-offer .price-small {
    font-size: 1rem;
    font-weight: 300;
}

.subscription-button {
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 16px 40px;
    border-radius: 500px;
    animation: wiggle 2.2s linear infinite;
}

.subscription-button-gradient {
    background: var(--btn-bg-color-gradient);   
    outline: 3px solid transparent;
    background-size: 250%;
    transition: background 1s, outline 1s, transform 1s;
}

.subscription-button-gradient:hover {
    background-color: transparent;
    background-position: 100%;
    outline: 2px solid var(--secondary-color);    
    transform: scale(1.05);
    animation: none;
}

.header .text-small {
    max-width: 300px;    
    text-align: center;    
}

section {
    scroll-margin-top: 80px;
}

#subscription {
    background: url('../images/background-movies-series.png') no-repeat;
    background-size: cover;
    position: relative;    
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.subscription-plans {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
    perspective: 2000px;
    perspective-origin: top;
}

.subscription-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--card-bg-color);
    max-width: 536px;
    width: 100%;
    min-height: 600px;
    padding: 40px 60px;
    border-radius: 8px;
    transition: transform 1s ease-in-out;
}

.subscription-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 16px;

}

.plan-price {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: var(--secondary-color);
    font-weight: 700;
}

.plan-price .text-small {
    color: var(--text-color);
}

.subscription-description {
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 14px;
    padding-left: 14px;
}

.subscription-description::marker {
    content: "+";
    font-size: 2rem;
    margin: 0 8px 0 0;
}

.subscription-card button {
    border: none;
    animation: none;
    cursor: pointer;
}

.subscription-plans:has(.subscription-card:nth-child(1):hover) .subscription-card:nth-child(2) {
    transform: rotateY(-45deg);
}

.subscription-plans:has(.subscription-card:nth-child(2):hover) .subscription-card:nth-child(1) {
    transform: rotateY(45deg);
}

#content {
    margin: 100px auto;
}

.content-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.content-card {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
}

.content-image {
    width: 100%;
    object-fit: cover;
    object-position: center;

}

@media (pointer: coarse) {
    .subscription-plans:has(.subscription-card:nth-child(1):hover) .subscription-card:nth-child(2),
    .subscription-plans:has(.subscription-card:nth-child(2):hover) .subscription-card:nth-child(1) {
        transform: none;
    }
}

@media screen and (max-width: 1140px) {
    .subscription-plans {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    .subscription-plans {
        gap: 40px;
    }
}


@media screen and (max-width: 480px) {
    .header {
        margin-top: 128px;
    }

    .header .channels-icon {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscription-card {
        padding: 40px;
    }

    .subscription-card-header {
        flex-direction: column;
        justify-content: center;
    }
}

/* Animation */

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%, 100% {
      transform: rotate(0);
    }
  }