.experience__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
}

.experience__item {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.experience__title {    
    font-size: 1.25rem;
    font-weight: 700;
}

.experience__period::before {
    content: '';
    display: inline-block;
    background-image: url('../img/icons/calendar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    vertical-align: baseline;
    margin-right: .5rem ;
}